{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DaftarZild.com</title>
    

    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "css/index.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->   

</head>

<body style="background-color:lightgrey;">

    <!-- Header Carousel -->
    
    	<!-- Navigation -->
	    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	            <!-- Brand and toggle get grouped for better mobile display -->
	            <div class="navbar-header">
	                <a class="navbar-brand" href='{% url "home" %}'>Daftar Zild</a>
	            </div>
	            <!-- Collect the nav links, forms, and other content for toggling -->
	            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	                <ul class="nav navbar-nav navbar-right">
	                    <li>
	                        {# <a href='{% url "about" %}'>About</a> #}
	                    </li>
	                    <li>
	                        <a href={% url "dzadmin:contact" %}>Contact</a>
	                    </li>
                        <li>
                            <a href={% url "posts:allnews" %}>News</a>
                        </li>
                        <li>
                            <a href={% url "dzadmin:music" %}>Music</a>
                        </li>
                        <li>
                            <a href={% url "dzadmin:music" %}>Media</a>
                        </li> 
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Band <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href={% url "dzadmin:bandmembers" %}>Band Members</a>
                                </li>
                                <li>
                                    <a href="blog-home-2.html">History</a>
                                </li>
                            </ul>
                        </li> 
	                </ul>
	            </div>
	            <!-- /.navbar-collapse -->
	    </nav>
    {% block body %}
	<div class= "bg">
        <div class="container">
					<div class="banner-info text-center">
						<h1>Music</h1><br />
						<span> </span>
						<p>Helps me Escape from the reality I Live in.</p>
					</div>
		</div>
    </div>
    <div class="col-lg-12 member-name">
                <h1>News</h1>
    </div>

    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
            
        <!-- /.row -->

        {# homepagenews #}


        <br>
                <div class='home-news-card'>
                    <div class='home-newscard-image'>
                        <div id="myCarousel" class="carousel" >
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                              <li data-target="#myCarousel" data-slide-to="1"></li>
                              <li data-target="#myCarousel" data-slide-to="2"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            
                                
                                <div class="carousel-inner custom_carousel" role="listbox">
                                    {% for obj in object_list %}
                                        {% if forloop.first %}
                                            <div class="item active">
                                                <img src="{{ obj.image.url }}" alt="">
                                            </div>
                                        {% else %}
                                        <div class="item homenewsimage">
                                            <img src="{{ obj.image.url }}" alt="" >
                                        </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                        </div>
                    </div>

                    <div class='home-newscard-content'>
                        <div id="myCarousel2" class="carousel" >
                            <div class="carousel-inner custom_carousel" role="listbox">
                                {% for obj in object_list %}
                                    {% if forloop.first %}
                                    <div class="item active">
                                        <a href="{{ obj.get_absolute_url }}"><h3>{{ obj.title }}</h3></a>
                                    </div>
                                    {% else %}
                                    <div class="item">
                                        <a href="{{ obj.get_absolute_url }}"><h3>{{ obj.title }}</h3></a>
                                        <p>{{ obj.get_markdown|truncatechars_html:220 }}
                                    </div>
                                    {% endif %}    
                                {% endfor %}
                                <a class="btn btn-t-external card-external-link" href="">Read More</a>

                            </div>

                        </div>
                    </div>
                    
                </div>
        
                {% for news in othernews %}
                    <div class="col-md-3 othernews-card well">
                        <a href="{{news.get_absolute_url}}"><div class="well-image" style="background-image:url('{{ STATIC_URL }}{{ news.image.url }}')">
                    </div>
                    <div class='well-content'>
                        <h4>{{ news.title|truncatechars_html:80  }}</h4>
                    </div>
                    <!-- /.row -->
                    </div>
                {% endfor %}


                    



        <!-- /.row -->

    </div>

    {% endblock %}

    {% block homepagemedia %}
    {% endblock %}
    {% block gigsdates %}
    {% endblock %}
        <hr>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>
    <!-- /.container -->
    <!-- jQuery -->
   

    <!-- Script to Activate the Carousel -->
    
<script   src="http://code.jquery.com/jquery-1.12.2.min.js"   integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk="   crossorigin="anonymous"></script>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<script src='https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js'></script>
<script type="text/javascript" src='{% static "js/index.js" %}'></script>


<script type="text/javascript">
    $(document).ready(function(){ 
        
        var carousel1 = $('#myCarousel').carousel();
        var carousel2= $('#myCarousel2').carousel();
        
        carousel1.on('slide.bs.carousel', function(event) {
            var to = $(event.relatedTarget).index();
            carousel2.carousel(to);
        });

    window.addEventListener("scroll", function() {
        if (window.scrollY > 500) {
            $('.navbar').slideUp();
        }
        else {
            $('.navbar').slideDown();
        }
    },false);

    $(".comment-reply").hide()

    $(".comment-reply-btn").click(function(event){
        event.preventDefault();
        console.log($(this).parent().next());
        $(this).parent().next(".comment-reply").fadeToggle();
        console.log('inside jquery');
    })



    })

</script>

</body>


</html>
